@model IEnumerable<BisleriumBloggingWebApp.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<style>
    .profile-image img {
        height: 100%;
    }

    .card-body {
        cursor: pointer;
    }

    /* Style the link as a block element to make the whole card body clickable */
    .card-link {
        display: block;
        color: inherit;
        text-decoration: none; /* Remove default underline */
    }

        .card-link:hover {
            color: inherit; /* Maintain default text color on hover */
        }

    /* Truncate text after three lines and add ellipsis */
    .truncate-3-lines {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    /* Ensure the text doesn't wrap */
    .no-wrap {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .vote-icons {
        margin-bottom: 5px;
    }

        .vote-icons i {
            cursor: pointer;
            font-size: 35px;
            margin-left: 10px;
            color: grey;
        }
</style>

<div class="container">
    <h1 class="text-center mb-4">Welcome to Our Blog</h1>

    <div class="text-center mb-3">
        <a class="btn btn-primary" asp-action="Create">Create New Post</a>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card mb-3">
                <div class="card-body " onclick="window.location.href='@Url.Action("Details", "Blogs", new { id = @item.BlogID })';">


                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-3">
                                <h3>@item.Title</h3>
                                <p class="text-muted truncate-3-lines">by @item.User.Username <span id="blogger"></span></p>
                                <p class="truncate-3-lines">@item.Body</p>
                            </div>
                            <p class="text-muted no-wrap">Posted on: @item.CreatedDate.ToShortDateString()</p>
                            <div class="vote-icons">
                                <i class="fa-solid fa-circle-arrow-up" onclick="event.stopPropagation();"></i>
                                <i class="fa-solid fa-circle-arrow-down" onclick="event.stopPropagation();"></i>
                            </div>`
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3 profile-image">
                                <img src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg" class="img-fluid" alt="Placeholder Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>







@*This is my design*@

@* @model IEnumerable<BisleriumBloggingWebApp.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex align-items-center">
                <img src="https://via.placeholder.com/50" alt="Profile Image" class="rounded-circle mr-2" style="width: 50px; height: 50px;">
                <span class="font-weight-bold">@User.Identity.Name</span>
            </div>
        </div>
    </div>

    <h1 class="text-center my-4">Welcome to Our Blog</h1>

    <div class="text-center mb-3">
        <a class="btn btn-primary" asp-action="Create">Create New Post</a>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    @* <img class="card-img-top" src="@item.ImagePath" alt="@item.Title"> *@
                    @*Uncomment from here 1st*@
                    @* <img class="card-img-top" src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg" alt="@item.Title">
                    <div class="card-body">
                        <h4 class="card-title">@item.Title</h4>
                        <p class="card-text">@item.Body</p>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <div>
                                <small class="text-muted">Posted on @item.CreatedDate.ToShortDateString() by @item.User.Email</small>
                            </div>
                            <div>
                                <button type="button" class="btn btn-outline-success btn-sm mr-1"><i class="fas fa-thumbs-up"></i></button>
                                <button type="button" class="btn btn-outline-danger btn-sm"><i class="fas fa-thumbs-down"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.BlogID">Read More</a>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.BlogID">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.BlogID">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div> *@






@*This is default*@

@* @model IEnumerable<BisleriumBloggingWebApp.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlogID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlogID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlogID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@